@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(/Homework3/fonts/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url(/Homework3/fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: "Gilroy-Light";
  src: url(/Homework3/fonts/Gilroy-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}

.conteiner {
  width: 1170px;
  margin: 0 auto;
}

.header {
  margin-top: 40px;
  margin-bottom: 84px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.navigation {
  width: 533px;
  margin-top: 11px;
  display: flex;
  justify-content: space-between;
}

.nav__homelink {
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  line-height: 16px;

  color: #f25822;
}

.nav__link {
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  line-height: 16px;
}

.top__content {
  margin-bottom: 162px;
}

.top__content__wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 40.94px;
}

.title {
  margin-bottom: 17px;
  width: 522px;
  font-family: "Gilroy-Bold";
  font-size: 60px;
  line-height: 70px;

  color: #000000;
}
.text {
  width: 466px;
  font-family: "Gilroy-Light";
  font-size: 20px;
  line-height: 23px;

  color: #888888;
}

.top__buttons {
  margin-top: 37px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 72px;
}

.button {
  width: 140px;
  height: 50px;

  background: #f25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;

  font-family: "Gilroy-Bold";
  font-size: 15px;
  line-height: 18px;

  color: #ffffff;
}

.button__link__text {
  font-family: "Gilroy-Bold";
  font-size: 15px;
  line-height: 18px;

  color: #aaaaaa;
}

.top__logo__wrapper {
  margin-top: 97px;
  margin-bottom: 96px;
  display: flex;
  justify-content: space-between;
}
