@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(/Homework3/fonts/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url(/Homework3/fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: "Gilroy-Light";
  src: url(/Homework3/fonts/Gilroy-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}

.conteiner {
  width: 1170px;
  margin: 0 auto;
}

.header {
  margin-top: 40px;
  margin-bottom: 84px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.navigation {
  width: 533px;
  margin-top: 11px;
  display: flex;
  justify-content: space-between;
}

.nav__homelink {
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  line-height: 16px;

  color: #f25822;
}

.nav__link {
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  line-height: 16px;
}

.top__content {
  margin-bottom: 162px;
}

.top__content__wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 40.94px;
}

.title {
  margin-bottom: 17px;
  width: 522px;
  font-family: "Gilroy-Bold";
  font-size: 60px;
  line-height: 70px;

  color: #000000;
}
.text {
  width: 466px;
  font-family: "Gilroy-Light";
  font-size: 20px;
  line-height: 23px;

  color: #888888;
}

.top__buttons {
  margin-top: 37px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 72px;
}

.button {
  width: 140px;
  height: 50px;

  background: #f25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;

  font-family: "Gilroy-Bold";
  font-size: 15px;
  line-height: 18px;

  color: #ffffff;
}

.button__link__text {
  font-family: "Gilroy-Bold";
  font-size: 15px;
  line-height: 18px;

  color: #aaaaaa;
}

.top__logo__wrapper {
  margin-top: 97px;
  margin-bottom: 96px;
  display: flex;
  justify-content: space-between;
}

.content__top__wrapper {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.item__top {
  margin-top: 40px;
  margin-bottom: 25px;
}

.item__top__center {
  background: #ffffff;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.item__center__wrapper {
  margin-top: 40px;
  margin-left: 29px;
}

.content__heading {
  margin-top: 25px;
  margin-bottom: 17px;
  font-family: "Gilroy-Bold";
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.content__text {
  margin-bottom: 25px;
  width: 310px;
  font-family: "Gilroy-Light";
  font-size: 15px;
  line-height: 150%;
  color: #666666;
}

.content__top__link {
  font-family: "Gilroy-Bold";
  font-size: 11px;
  line-height: 150%;
  color: #000000;
}

.content__bottom {
  padding-top: 92px;
  padding-bottom: 100px;
  background: #fafafa;
}

.content__bottom__subtitle {
  width: 682px;
  margin-left: 224px;
  margin-bottom: 54px;
}

.content__subtitle {
  margin-bottom: 19px;
  font-family: "Gilroy-Bold";
  font-size: 45px;
  line-height: 53px;
  text-align: center;
  color: #000000;
}

.content__bottom__text {
  font-family: "Gilroy-Light";
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #666666;
}
.content__bottom__services {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 370px);
  justify-content: center;
}

.item__services {
  padding-bottom: 50px;
  display: grid;
  justify-items: center;
  background: #ffffff;
}

.services__center {
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.heading__services {
  font-family: "Gilroy-Bold";
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}

.sevices__text {
  margin-top: 22px;
  margin-bottom: 39px;
  width: 310px;
  font-family: "Gilroy-Light";
  font-size: 15px;
  line-height: 150%;
  text-align: center;

  color: #aaaaaa;
}

.button__services {
  width: 150px;
  height: 50px;

  background: #f25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;

  font-family: "Gilroy-Bold";
  font-size: 13px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}
