@font-face {
  font-family: "Lato-Light";
  src: url(fonts/Lato-Light.ttf);
}

@font-face {
  font-family: "Lato-Regular";
  src: url(fonts/Lato-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

img {
  display: block;
  max-width: 100%;
}

.top {
  max-width: 1600px;
  margin: 0 auto;
}

.top__header {
  background: #222222;
}

.conteiner {
  width: 1140px;
  margin: 0 auto;
}

.top__header__wrapper {
  width: 1600px;
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 19px;
  padding-left: 231px;
  padding-right: 240px;
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
  justify-content: space-between;
  gap: 41px;
}

.header__right {
  display: flex;
  justify-content: space-between;
  gap: 33px;
}

.button__header {
  border: none;
  background: #222222;
}

.button__basket {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__basket::after {
  top: -4px;
  right: -9px;
  position: absolute;
  content: "5";
  width: 19px;
  height: 19px;
  flex-shrink: 0;
  background-color: #f16d7f;
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  font-family: "Lato-Regular";
}

.header__img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.header__img:active {
  transform: scale(1);
  transition: transform 0.1s;
}

.top__preview {
  background: #f1e4e6;
}

.top__preview__wrapper {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  gap: 63.42px;
}

.logo_big {
  padding-top: 289.9px;
}

.top__content {
  background: #ffffff;
}

.top__content__wrapper {
  padding-top: 65px;
  padding-bottom: 60px;
}

.content__сategories {
  margin-bottom: 96px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
}

.item__big {
  grid-column-start: 1;
  grid-column-end: 4;
}

.сategories__img_mobile {
  width: 0px;
  visibility: hidden;
}

.item__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #211616b2;
}

.item:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.item__big:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.item:active {
  transform: scale(1);
  transition: transform 0.1s;
}

.item__big:active {
  transform: scale(1);
  transition: transform 0.1s;
}

.сategories__heading {
  position: absolute;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: "Lato-Regular";
  font-style: normal;
  line-height: normal;
}

.heading__for_women {
  font-size: 22px;
  color: #f16d7f;
}

.subtitle {
  margin-bottom: 47px;
  display: flex;
  gap: 6px;
  flex-direction: column;
  align-items: center;
}

.subtitle__text {
  font-family: "Lato-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.headline {
  font-family: "Lato-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #9f9f9f;
}

.item__produkts {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
}

.item__produkt {
  background: #f8f8f8;
}

.item__product__content {
  margin-left: 16px;
  margin-top: 25px;
  margin-bottom: 19px;
}

.produkt__img_before {
  position: absolute;
}

.produkt__img_after {
  position: relative;
  opacity: 0;
  filter: alpha (opacity=0);
}

.produkt__img_after:hover {
  transform: scale(1.01);
  opacity: 1;
  filter: alpha (opacity=100);
  transition: all 0.5s ease;
}

.produkt__img_after:active {
  transform: scale(1);
  transition: all 0.1s;
}

.heading {
  font-family: "Lato-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.text {
  width: 314.74px;
  margin-top: 16px;
  margin-bottom: 16px;

  font-family: "Lato-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.price {
  font-family: "Lato-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.content__products__footer {
  margin-top: 48.5px;
  display: flex;
  justify-content: center;
}

.button__products {
  width: 211px;
  height: 47px;
  border: 1px solid #ff6a6a;
  background: none;

  font-family: "Lato-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
}

.button__products:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.button__products:active {
  transform: scale(1);
  transition: transform 0.1s;
}

@media (max-width: 1024px) {
  /* в браузере проверяем на 765px */

  .top {
    max-width: 768px;
    margin: 0 auto;
  }

  .conteiner {
    width: 735px;
  }

  .top__header__wrapper {
    width: 768px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 32px;
    padding-right: 36px;
  }

  .header__right {
    justify-content: space-between;
  }

  .top__preview__wrapper {
    width: 768px;
    gap: 0px;
  }

  .header_preview {
    width: 386px;
  }

  .logo_big {
    padding-top: 138px;
    padding-left: 39px;
    padding-right: 33px;
  }

  .top__content__wrapper {
    padding-top: 64px;
    padding-bottom: 71px;
  }

  .content__сategories {
    margin-bottom: 109px;
    grid-template-columns: repeat(3, 232px);
    gap: 19px;
  }

  .subtitle {
    margin-bottom: 73px;
    gap: 3px;
  }

  .item__produkts {
    grid-template-columns: repeat(2, 360px);
    gap: 16px;
  }

  .item__product__content {
    width: 315px;
    margin-left: 18px;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .content__products__footer {
    margin-top: 33px;
  }
}

@media (max-width: 768px) {
  /* в браузере проверяем на 375px */

  .top {
    max-width: 375px;
    margin: 0 auto;
  }

  .conteiner {
    width: 359px;
  }

  .top__header__wrapper {
    width: 375px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 16px;
    padding-right: 26px;
  }

  .display_none {
    display: none;
  }

  .button__basket::after {
    display: none;
  }

  .top__preview__wrapper {
    width: 375px;
  }

  .logo_big {
    /* padding-left: 56px;
    padding-top: 148px;
    padding-bottom: 149px; */
    padding: 0;
    width: 375px;
    height: 363px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img__logo__big {
    width: 263px;
  }

  .top__content__wrapper {
    padding-bottom: 86px;
  }

  .content__сategories {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .item__wrapper_hidden {
    display: none;
  }

  .сategories__img_mobile {
    width: 359px;
    visibility: visible;
  }

  .subtitle {
    margin-bottom: 65px;
  }

  .item__produkts {
    grid-template-columns: repeat(1, 359px);
  }

  .content__products__footer {
    margin-top: 41px;
  }
}
